.border{
    border: 1px solid black;
    border-radius: 20px;
}

.btn-green{
    background-color: #a9cba6;
    box-shadow:inset -5px -5px 1px 0px #7f987c;
}

.btn{
    width: 340px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    font-family: "Bold";
    font-size: 18px;
    line-height: 120%;

    background-color: white;
    border: 1px solid black;
    border-radius: 30px;
    box-shadow:inset -5px -5px 1px 0px #bfbfbf;
    padding: 1rem;
}

