p{
    display: inline;
    width: 200px;
    padding: 25px;
    border: 25px solid black;
    margin: 25px;
    margin-left: auto;
    margin-right: auto;
    display: block;
/*  display: inline-block; */
    margin-top: 50px;
    background-color: yellowgreen;
    text-align: center;

}

.center{ /* ja das macht nichts */
    margin: auto;
}